.signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 8px;
  background-color: #5d37f3;
  color: #fff;
  border: none;
}

.signin-btn:hover {
  background-color: #5432db;
  cursor: pointer;
}
.signin-btn:active {
  background-color: #4a2cc2;
}
